/* IMPOSTAZIONE PAGINA */
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body{
  background-image: url("../img/natural-pattern.png");
  font-family: 'Roboto', sans-serif;
}

.pagina {
  width: 1000px;
  max-width: 100%;
  margin: 20px auto;
}


/* HEADER */
header {
  margin-top: 30px;
  margin-bottom: 10px;

}


.header-top {
  padding: 15px 5px;
  text-align: center;
  background-image: url("../img/natural-header.jpg");
  background-size: cover;
  border: 10px solid lightgray;
}


header img {
  padding-top: 20px;
  width: 50%;
}


header h2 {
  text-align: center;
  text-transform: uppercase;
  color: white;
  padding-bottom: 30px;
  font-family: 'Montserrat', sans-serif;
}


header nav{
  background-color: gray;
  color: white;
  text-align: center;

}

.menu{
  text-decoration: none;
}


header li {
  display: inline-block;
  padding: 10px 25px;
  text-decoration: none;
}

header li:hover {
  background-color: #998870;
}


header li a {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: white;
}


/* MAIN */
main{
    height: 400px;
    margin-bottom: 10px;
}

#container::after{
  content: "";
  display: table;
  clear: both;
}

/* proprietà comuni */

main .square {
  font-family: 'Roboto', sans-serif;
  color: #4f4f4f;
  line-height: 27px;
}


/* square sx */
.header-sx::after{
  content: "";
  display: table;
  clear: both;
}

main .sx {
  float: left;
  width: 23%;
  margin-right: 2%;
  background-color: white;
  border-radius: 2%;
}

.rss-header {
  width: 30%;
  float: left;
}


main div .fas.fa-rss{
  font-size: 30px;
  color: white;
  background-color: orange;
  padding: 2px;
  border-radius: 8%;
  margin: 5px;
  float: left;
}


.titolo-header-sx {
  width: 70%;
  float: left;
  font-size: 20px;
}

#link-list {
  list-style: none;
}

#link-list li {
  margin: 5px;
  padding: 5px;
}

#link-list li a{
  color: green;
  text-decoration: none;
}


/* square centro */
main .centro{
  float: left;
  width: 50%;
  margin-right: 2%;
  background-color: white;
  border-radius: 2%;
}

section .titolo-centro{
  margin: 20px;
  text-transform: uppercase;
}

section .parag-centro {
  padding-top: 30px;
  margin: 20px;
}


/* square padre destra */
main .dx{
  float: left;
  width: 23%;
}

.dx::after {
  content: "";
  display: table;
  clear: both;
}

/* square piccoli destra */
div .squarino {
  margin-bottom: 20px;
  border-radius: 2%;
  background-color: white;
  border-radius: 2%;
}

.titolo-widget {
  font-size: 20px;
  padding: 15px;
}

.parag-widget {
  padding-top: 10px;
  margin: 15px;
}





/* FOOTER */
footer {
  background-color: #32a6a8;
  height: 100px;
  width: auto;
  clear: both;
  border-radius: 10%;
}



.joke {
  font-size: 50px;
  color: #8a5820;
  float: right;
}
